name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Start Firebase emulators
        run: firebase emulators:start &

      - name: Run tests
        run: npm run test:emu
